/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

:root {
  --sb-track-color: transparent;
  --sb-thumb-color: #676767;
  --sb-size: 2px;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  color: white;
}

.side-nav {
  background-color: #171717;
  margin: 0px;
  overflow: auto;
  height: 100vh;
  list-style-type: none;
  padding: 0;
}

.side-nav li {
  margin: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #212121;
}

.content {
  background-color: #212121;
  margin: 0px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: hidden;
}

.chat-inputs-container {
  background-color: #2F2F2F;
  padding: 5px;
  border-radius: 7px;
  margin: 0;
}

.chat-inputs-container textarea {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ECECEC;
  resize: none;
  white-space: pre;
}

.chat-inputs-area-inner {
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
}

.chat-inputs-area-button {
  border-radius: 100%;
  background-color: transparent;
  width: max-content;
  box-shadow: none;
  border: none;
  color: #676767;
}

.chat-content-area {
  overflow: auto;
  height: 550px;
  overflow-x: hidden;
  padding: 0 150px;
}

.chat-content-area-empty,
.chat-content-area-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chat-content-area-empty,
.chat-content-area-loading small {
  color: #ECECEC;
  opacity: .25;
}

.user-chat-box {
  background-color: #2F2F2F;
  padding: 20px;
  color: #ffffff;
  border-radius: 7px;
  /* text-align: right; doesn't look ok if with code */
}

.gpt-chat-box {
  padding: 20px;
  color: #ffffff;
}

.chat-icon {
  margin-bottom: 5px;
}

.react-syntax-highlighter-line-number {
  display: none !important;
}

#loading {
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.side-nav::-webkit-scrollbar,
.chat-content-area::-webkit-scrollbar {
  width: var(--sb-size)
}

.side-nav::-webkit-scrollbar-track,
.chat-content-area::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.side-nav::-webkit-scrollbar-thumb,
.chat-content-area::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  .side-nav,
  .chat-content-area {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}